{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}

{% if articles %}

<!-- Members Category -->
{% if category|string() == 'members' %}
  {% set member_categories = ['Faculty Members' , 'Senior Researchers', 'Associate Researchers', 'Researchers'] %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Members & Associates</h2>
    </div>
  </div>
    <!-- Print member's cotegories slidebar-->
		<div class="hidden-xs hidden-sm col-md-3 col-lg-3 col-xl-3" id="printmenu">
		  <nav id="myScrollspy" data-spy="affix" data-offset-top="50" style="position: fixed;width:200px">
  			<div class="panel panel-default">
  			  <div class="panel-heading">
  				Contents
  			  </div>
  			  <ul class="nav nav-pills nav-stacked">
  						<li><a href="#Faculty">Faculty Members</a></li>
              <li><a href="#Senior">Senior Researchers</a></li>
  						<li><a href="#Associate">Associate Researchers</a></li>
              <li><a href="#Researchers">Researchers</a></li>
  			  </ul>
  			</div>
		  </nav>
		</div>
    <!-- Print member's cotegories slidebar (mobsile view)-->
    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg hidden-xl" id="printmenu">
      <nav>
        <div class="panel panel-default">
          <div class="panel-heading">
          Contents
          </div>
          <ul class="nav nav-pills nav-stacked">
            <li><a href="#Faculty">Faculty Members</a></li>
            <li><a href="#Senior">Senior Researchers</a></li>
            <li><a href="#Associate">Associate Researchers</a></li>
            <li><a href="#Researchers">Researchers</a></li>
          </ul>
        </div>
      </nav>
    </div>
    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9" id="printphoto">
      {% for Category in member_categories %}
        <!-- Print member categories -->
        {% for article in articles_page.object_list %}
          {% if article.member_category == Category %}
            <div class = "row">
              <h3 id="{{Category.partition(' ')[0]}}">{{Category}}</h3>
            </div>
            {% break %}
         {% endif %}
        {% endfor %}
        <div class = "row">
          <!-- Print members by surname order -->
          {% for article in articles_page.object_list|sort(attribute='surname') %}
            {% if article.member_category == Category %}
        			<div class="col-xs-12 col-sm-4 col-md-4 col-lg-4" id="printphoto">
        			  <div class="thumbnail">
                  <!-- Print every member's photo or default photo linked to its profile -->
                  <a href="{{ SITEURL }}/{{ article.url }}">
                    {% if article.photo %}
                      <img src="{{ SITEURL }}/images/{{ article.photo }}" style="height:150px" class="img-responsive" alt="...">
                    {% else %}
                      <img src="{{ SITEURL }}/images/lamp.png" style="height:150px" class="img-responsive" alt="...">
                    {% endif %}
                    <!-- Print member's name & surname in seperated lines -->
          					<div id="px1" class="caption">
                      <h5>{{article.givenname}}</h5>
          					  <h5>{{article.surname}}</h5>
          					</div>
                  </a>
        			  </div>
        			</div>
            {% endif %}
          {% endfor %}
        </div>
      {% endfor %}
    </div>

  <!-- Alumni Category -->
  {% elif category|string() == 'alumni'%}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Alumni</h2>
      </div>
    </div>
    <p>BALab alumni have been associated with the lab in the past, e.g. as faculty members, PhD students, or
    research associates, and have published at least one paper or substantially contributed to a software project
    or data set as BALab members.
    </p>
    <!-- Print members by surname order -->
    {% for article in articles_page.object_list|sort(attribute='surname') %}
      <div class="col-xs-12 col-sm-4 col-md-3 col-lg-3" id="printphoto">
        <div class="thumbnail">
          <!-- Print every member's photo or default photo linked to its profile -->
          <a href="{{ SITEURL }}/{{ article.url }}">
            {% if article.photo %}
            <img src="{{ SITEURL }}/images/{{ article.photo }}" style="height:150px" class="img-responsive" alt="...">
            {% else %}
            <img src="{{ SITEURL }}/images/lamp.png" style="height:150px" class="img-responsive" alt="...">
            {% endif %}
            <!-- Print member's name & surname in seperated lines -->
            <div id="px1" class="caption">
              <h5>{{article.givenname}}</h5>
              <h5>{{article.surname}}</h5>
            </div>
          </a>
        </div>
      </div>
    {% endfor %}

  <!-- Yearly Reports Category -->
  {% elif category|string() == 'yearly reports'%}
    <div class="panel panel-default" id="px2">
      <div class="panel-heading">
        <h2>Yearly Reports</h2>
      </div>
      <ul class="list-group">
        <!-- Print every year linked to its report-->
        {% for article in articles_page.object_list %}
           <a href="{{ SITEURL }}/{{article.url}}"><li class="list-group-item">Yearly Report {{article.title}}</li></a>
        {% endfor %}
      </ul>
    </div>

  <!-- Software Category -->
  {% elif category|string() == 'software'%}
    <div class="panel panel-default" id="px2">
      <div class="panel-heading">
        <h2>Software</h2>
      </div>
      <ul class="list-group">
        <!-- Print every software linked to its url -->
        {% for article in articles_page.object_list|sort(attribute='title') %}
	<li class="list-group-item"><a href="{{article.url}}">{{article.title}}</a> — {{article.description}} </li>
        {% endfor %}
      </ul>
    </div>

  <!-- Seminars Category -->
  {% elif category|string() == 'seminars'%}
    <div class="panel panel-default" id="px2">
      <div class="panel-heading">
        <h2>Seminars</h2>
      </div>
      <ul class="list-group">
        <!-- Print every seminar linked to its url -->
        {% for article in articles_page.object_list|sort(attribute='date', reverse=(True)) %}
	<li class="list-group-item">{{article.date|strftime('%d %b %Y')}}: <a href="{{ SITEURL }}/{{article.url}}">{{article.title}}</a></li>
        {% endfor %}
      </ul>
    </div>

  <!-- Projects Category -->
  {% elif category|string() == 'projects'%}
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>Projects</h2>
      </div>
    </div>
    <div class="row">
    <!-- Print projects cotegories slidebar-->
		<div class="hidden-xs hidden-sm col-md-3 col-lg-3 col-xl-3" id="printmenu">
		  <nav id="myScrollspy" data-spy="affix" data-offset-top="50" style="position: fixed;width:200px">
  			<div class="panel panel-default">
  			  <div class="panel-heading">
  				Contents
  			  </div>
  			  <ul class="nav nav-pills nav-stacked">
  						<li><a href="#Current">Current Projects</a></li>
  						<li><a href="#Completed">Completed Projects</a></li>
  			  </ul>
  			</div>
		  </nav>
		</div>
    <!-- Print projects cotegories slidebar (mobsile view)-->
    <div class="col-xs-12 col-sm-12 hidden-md hidden-lg hidden-xl" id="printmenu">
      <nav>
        <div class="panel panel-default">
          <div class="panel-heading">
          Contents
          </div>
          <ul class="nav nav-pills nav-stacked">
              <li><a href="#Current">Current Projects</a></li>
              <li><a href="#Completed">Completed Projects</a></li>
          </ul>
        </div>
      </nav>
    </div>

		<div class="col-xs-12 col-sm-12 col-md-9 col-lg-9 col-xl-9" id="printurl">
       {% for i in range(2) %}
          <div class="panel panel-default" id="px2">
             <!-- Print projects categories -->
             {% if loop.first %}
               <div class="panel-heading">
                 <h3 id="Current">Current Projects</h3>
               </div>
             {% else %}
             <div class="panel-heading">
               <h3 id="Completed">Completed Projects</h3>
             </div>
             {% endif%}

           <!-- Print every project's title linked to its page -->
           <div class="panel-body">
             <ul class="list-group">
               <ul>
                 {% for article in articles|sort(attribute='startdate',reverse=True) %}
                  {% if article.category|string() == 'projects' and article.completed == i|string %}
                  <p>
              		  <li>
                      <a href="{{ SITEURL }}/{{ article.url }}">{{ article.shortname }}</a>
                      {% if article.completed == '1' %}
                        {% if article.startdate[0:4] == article.enddate[0:4] %}
                          <span>({{article.enddate[0:4]}})</span>
                        {% else %}
                          <span>({{article.startdate[0:4]}} - {{article.enddate[0:4]}})</span>
                        {% endif%}
                      {% endif%}
                      <span>&mdash; {{article.projtitle}}</span>
                    </li>
                  </p>
                  {% endif %}
                 {% endfor %}
               </ul>
             </ul>
           </div>
         </div>
       {% endfor %}

       <!-- Note: Grandfathered work -->
       <div class="panel panel-default">
         <div class="panel-body">
           <i class="text-muted">Note: Some of the above data refer to grandfathered work conducted by BALab's members at its progenitor laboratory, <a href="https://istlab.dmst.aueb.gr">ISTLab</a>.</i>
         </div>
       </div>
  	 </div>
   </div>
  {% endif %}
</div>
{% endif %}
{% endblock content %}

{% block title %}{{ SITENAME }} {{ category }}{% endblock %}
