{% extends "base.html" %}
{% block content_title %}{% endblock %}

{% block content %}

  <!-- Lab Description -->
  <div class="panel panel-default">
    <div class="panel-heading">
      <h2>Business Analytics Lab</h2>
    </div>
    <div class="panel-body">
      <p>
      Welcome to the Business Analytics Laboratory, established at the
      <a href="https://www.dept.aueb.gr/en/dmst">Department of Management Science and Technology</a>
      of the
      <a href="https://www.aueb.gr/en">Athens University of Economics and Business</a>, and headed by
      <a href="https://www.dmst.aueb.gr/dds">Diomidis Spinellis</a>.
      Here we research, develop, and disseminate
      software, systems, methods, and practices associated with the following
      areas.
      <li>Software Engineering and Management Science applications of data analytics</li>
      <li>AI applications of big data</li>
      <li>Data analytics approaches for IT security</li>
      <li>Software and systems for big data</li>
      <li>Industrial adoption of business analytics applications and systems</li>
      <li>Energy consumption and runtime performance in the era of ΑΙ and big data</li>
      </p>
    </div>
  </div>

  <!-- Recent Publications -->
  <div class="panel panel-default" id="px2">
    <div class="panel-heading">
      <h3>Recent Publications</h3>
    </div>
    <div class="panel-body">
      <ul class="list-group">
        <ul>
           <div>
	    {% set months = {
		'jan': 1, 'feb': 2, 'mar': 3, 'apr': 4,
		'may': 5, 'jun': 6, 'jul': 7, 'aug': 8,
		'sep': 9, 'oct': 10, 'nov': 11, 'dec': 12
	    } %}

	    {% for offset in range(12) %}
		{% set n = CURRYEAR * 12 + CURRMONTH - 1 - offset %}
		{% set year = n // 12 %}
		{% set month = n % 12 + 1 %}

		{% for publication in publications
		   if publication.month is defined
		   and publication.month
		   and '/' not in publication.month
		   and publication.month[:3]|lower in months
		   and publication.year|int == year
		   and months[publication.month[:3]|lower] == month %}
		    <p>
			<li>
			    {{ publication.text }}
			    {% if publication.url %}
				<a href="{{ publication.url }}">
				    <span class="glyphicon glyphicon-new-window"></span>
				</a>
			    {% endif %}
			</li>
		    </p>
		{% endfor %}
	    {% endfor %}
           </div>
        </ul>
      </ul>
    </div>
  </div>

{% endblock content %}
