BODY { background-color :#FFFFFF; font-family:Tahoma,Arial,Helvetica; font-size:10pt; }

A { font-size:11pt;font-family:Tahoma,Arial,Helvetica; color: #200080; TEXT-DECORATION: none; }
A:visited { font-family:Tahoma, Arial, Helvetica; COLOR: #200080; TEXT-DECORATION: none; }
A:activated { font-family:Tahoma, Arial, Helvetica; COLOR: #200080; TEXT-DECORATION: none; }
A:hover { font-family:Tahoma, Arial, Helvetica; COLOR: #200080; TEXT-DECORATION: underline;}
A:link { font-family:Tahoma, Arial, Helvetica; COLOR: #200080; TEXT-DECORATION: underline; }
