BODY { background-color :#8B9DC3; font-family:Tahoma,Arial,Helvetica; font-size:10pt; }

.BodyText {font-size:10pt; font-family:Tahoma,Arial; color:#000000;}

UL  { list-style-image: url('/images/bullet.gif') }
LI  { list-style-image: url('/images/bullet.gif') }
SMALL { COLOR : #000000; FONT : normal 9px Arial, Helvetica, Tahoma; }
BIG { font-size: 12pt; font-weight: bold; font-family: Arial, Helvetica,Tahoma; color :#000000; }

.BIG { font-size: 12pt; font-weight:bold; font-family:Tahoma,Arial;}
.SMALL { font-size: 10pt; font-family:Tahoma,Arial;}


A { font-size:10pt;font-family:Tahoma,Arial,Helvetica; color: #200080; TEXT-DECORATION: none; }
A:visited { font-family:Tahoma, Arial, Helvetica; COLOR: #200080; TEXT-DECORATION: none; }
A:activated { font-family:Tahoma, Arial, Helvetica; COLOR: #200080; TEXT-DECORATION: none; }
A:hover { font-family:Tahoma, Arial, Helvetica; COLOR: #200080; TEXT-DECORATION: underline;}
A:ho1ver { font-family:Tahoma, Arial, Helvetica; COLOR: #200080; background-color: #d8d8ff; TEXT-DECORATION: underline;}

.unnamed1 {  font-family: Arial, Helvetica, tahoma; font-size: 12px}
.layerback {  background-attachment: fixed; background-color: #f1e9d8; background-image: url(logo%20copy.jpg); background-repeat: no-repeat; background-position: center center}
.imedia {  background-attachment: fixed; background-color: #FFCC33; background-image: url(imedia12.jpg); background-repeat: no-repeat; background-position: left top}
.border {  border: #000000; border-top-width: thin; border-right-width: thin; border-bottom-width: thin; border-left-width: thin}


.CopyRight {font-family:Tahoma,Arial; font-size:8pt; color:#72663E}
.CopyRightBox {background-color:#F4C225; border-style:solid; border-width:1pt; border-color:#ffffff; color:#72663E}
.WebMasterLink {font-family:Tahoma,Arial; font-size:8pt; color:#72663E TEXT-DECORATION: none; }

.Error { font: Bold 10pt Tahoma,Arial; color:#ffffff;}
.ErrorTable_Line {background:ff0000;}


.TableHeader {font-size:10pt; font-family:Tahoma,Arial}

.TopMenuText {
  font-family:Tahoma,Arial; 
  font-size:8pt;
  font-weight: bold;
  color:#A0A0A0;
  background:#000000;
  padding:2px;
}


.TopMenuLink {font-family:Tahoma,Arial,Helvetica; background-color:#000000; color: #A0A0A0; font-size:8pt; TEXT-DECORATION: none; }
#TopMenulink {font-family:Tahoma,Arial,Helvetica; background-color:#000000; color: #A0A0A0; font-size:8pt; TEXT-DECORATION: none; }
#TopMenulink:hover { font-family:Tahoma,Arial,Helvetica; background-color:#000000; color: #F4C225; TEXT-DECORATION: none; }
#TopMenulink:activated  { font-family:Tahoma,Arial,Helvetica; background-color:#000000; color: #F4C225; TEXT-DECORATION: none; }

#TopMenuTextBox {
font-family:Tahoma,Arial,Helvetica; 
background-color:#d0d0d0; 
color: #000000; 
font-size:8pt; 
TEXT-DECORATION: none; 
border-style: solid;
border-width: 1 1 1 1;
border-color: #808080;
}

/*  ========================  */

.BotMenuButton {
  font-family:Tahoma,Arial; 
  font-size:8pt;
  font-weight: bold;
  color:#A0A0A0;
  background:#000080;
  padding:2px;
}

.BotMenuLink {font-family:Tahoma,Arial,Helvetica; color: #A0A0A0; font-size:8pt; TEXT-DECORATION: none; }
#BotMenulink {font-family:Tahoma,Arial,Helvetica;  color: #A0A0A0; font-size:8pt; TEXT-DECORATION: none; }
#BotMenulink:hover { font-family:Tahoma,Arial,Helvetica; color: #F4C225; TEXT-DECORATION: none; }
#BotMenulink:activated  { font-family:Tahoma,Arial,Helvetica; color: #F4C225; TEXT-DECORATION: none; }

#BotMenuTextBox {
font-family:Tahoma,Arial,Helvetica; 
color: #000000; 
font-size:8pt; 
TEXT-DECORATION: none; 
border-style: solid;
border-width: 1 1 1 1;
border-color: #808080;
}

td, .PapersLIST {font-family:Tahoma,Arial,Helvetica; font-size:10pt;}