/*
	Name: Smashing HTML5
	Date: July 2009
	Description: Sample layout for HTML5 and CSS3 goodness.
	Version: 1.0
	License: MIT <http://opensource.org/licenses/MIT>
	Licensed by: Smashing Media GmbH <http://www.smashingmagazine.com/>
	Original author: Enrique Ramírez <http://enrique-ramirez.com/>
*/

/* Imports */
@import url("bootstrap.min.css");
@import url("bootstrap.css");
@import url("sticky-footer-navbar.css");

/***** Global *****/
/* Body */
body {
  background-color: #edeef2;
  overflow-wrap: break-word;
}

*[id]:before {
  display: block;
  content: " ";
  margin-top: -75px;
  height: 75px;
  visibility: hidden;
}

h2 {
  text-align: center;
}

#myScrollspy li.active > a {
  background-color: rgba(32, 56, 100, 0.7);
  color: white;
}

#px1 {
  padding: 2px;
}

#px1 p > b {
	color: #203864;
}

#px1  h5 {
	color:#203864;
  margin-top: 4px;
  margin-bottom: 4px;
  margin-left: 0px;
  margin-right: 0px;
}

#px1 p  {
	font-weight: bold;
}

#px1 p > a  {
	background-color: #fff;
	color: #002699;
}

#px1 .button {
    background-color: #203864;
    border: none;
    color: white;
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 2px;
    cursor: pointer;
	border-radius: 10px;
}

#px2 h3 {
  margin: 4px;
  text-align: center;
}

#px2 ul > a > .list-group-item:hover {
  background-color: #edeef2;
}

#px2 ul > a:hover {
    text-decoration: none;
}

#px3 ul > .panel-heading {
	background-color: rgba(32, 56, 100, 0.7);
}

.page-header {
  border-color: #172b51;
  border-width: 2px;
}

.panel-default .panel-heading {
  background-color:  #203864;
  border-color: #172b51;
  color: #fff;
}

.navbar-default {
  background-color: #fff;
  /*border-color: #172b51;*/
}
.navbar-default .navbar-brand {
  color: #203864;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #203864;
}
.navbar-default .navbar-text {
  color: #203864;
}
.navbar-default .navbar-nav > li > a {
  color: #203864;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #203864;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #203864;
  background-color: #172b51;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #fff;
  background-color: #172b51;
}
.navbar-default .navbar-toggle {
  border-color: #172b51;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #172b51;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #203864;
}
.navbar-default .navbar-toggle:hover .icon-bar,
.navbar-default .navbar-toggle:focus .icon-bar{
  background-color: #fff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #203864;
}
.navbar-default .navbar-link {
  color: #203864;
}
.navbar-default .navbar-link:hover {
  color: #203864;
}

.navbar-default .dropdown .dropdown-menu > li > a:hover {
  background-color: rgba(32, 56, 100, 0.7);
  color: white;
}

.navbar-default .navbar-right> li > a:hover {
  background-color: rgba(32, 56, 100, 0.7);
  color: white;
}

footer {
  background-color: #203864;
  color: white;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer > .container > .text-muted {
  color: #fff;
}

.jumbotron {
  background-color: rgba(32, 56, 100, 1);
    color: white;
}

  .bg-1 {
      background-color: white;
      color: black;
  }
  .container-fluid {
      padding-top: 10px;
      padding-bottom: 10px;
  }

#achievements h3 {
  color:#203864;
}

#printlogo {
   display : none;
}

@media print {
  #printlogo {
     display : block;
  }
  #printmenu {
    display: none;
  }
  #printurl a {
    display: none;
  }
  a:after {
    display: none;
  }
  footer {
    display: none;
  }
}

.reset-box-sizing, .reset-box-sizing *, .reset-box-sizing *:before, .reset-box-sizing *:after,  .gsc-inline-block
{
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
input.gsc-input, .gsc-input-box, .gsc-input-box-hover, .gsc-input-box-focus, .gsc-search-button
{
    box-sizing: content-box;
    line-height: normal;
}
